<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="navbar bg-primary-light">
    <a href="index.html" class="logo">Promise-Desert</a>
    <ul class="navbar__nav">
      <li class="navbar__nav__item"><a href="#" class="navbar__nav__link">系列鏡框</a></li>
      <li class="navbar__nav__item"><a href="#" class="navbar__nav__link">門市據點</a></li>
      <li class="navbar__nav__item"><a href="#" class="navbar__nav__link">部落格</a></li>
      <li class="navbar__nav__item"><a href="#" class="navbar__nav__link">常見問題</a></li>
    </ul>
  </nav>

  <%- contents %>

    <footer class="bg-primary-light footer">
      <div class="container">
        <div class="footer__main d-flex justify-content-between">
          <div class="footer__content">
            <ul class="nav">
              <li class="nav__link"><a href="index.html">首頁</a></li>
              <li class="nav__link"><a href="#">系列鏡框</a></li>
              <li class="nav__link"><a href="#">門市據點</a></li>
              <li class="nav__link"><a href="#">部落格</a></li>
              <li class="nav__link"><a href="#">常見問題</a></li>
            </ul>
            <ul class="method">
              <li class="method__item"><a class="d-flex align-items-center" href="tel:+0800-000-000"><img
                    class="method__icon"
                    src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-phone.svg"
                    alt="">0800-000-000</a></li>
              <li class="method__item"><a class="d-flex align-items-center" href="mailto:glasses@business.com"><img
                    class="method__icon"
                    src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-mail.svg"
                    alt="">glasses@business.com</a></li>
            </ul>
          </div>
          <ul class="media">
            <li class="media__item"><a href="#"><img class="media__icon"
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-fb.svg"
                  alt=""></a></li>
            <li class="media__item"><a href="#"><img class="media__icon"
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-ig.svg"
                  alt=""></a></li>
            <li class="media__item"><a href="#"><img class="media__icon"
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-line.svg"
                  alt=""></a>
            </li>
          </ul>
        </div>
        <div class="footer__notice">
          <p class="notice__text text-white">Copyright © 2020 Glasses.All rights reserved.</p>
          <ul class="notice__list">
            <li class="notice__item"><a href="#">隱私權政策</a></li>
            <li class="notice__item"><a href="#">服務條款</a></li>
          </ul>
        </div>
      </div>
    </footer>
</body>

</html>