*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-size: $font-base;
    line-height: 1.5;
    font-family: $font-fmaily;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: $white;
}
h1 {
    font-size: $font-h1;
}
h2 {
    font-size: $font-h2;
}
h3 {
    font-size: $font-h3;
}
h4 {
    font-size: $font-h4;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 375px) {
    .container {
        max-width: 375px;
    }
}
label {
    display: inline-block;
    margin-bottom: 4px;
}
textarea{
    resize: none;
}
