.btn{
    display: inline-block;
    font-size: $font-base;
    font-weight: $fw-bold;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 6px 10px;
    transition: 0.5s;
    &:hover{
        background-color: $primary;
    }
    &-lg{
        padding: 16px 143px;
    }
}
@include pad{
    .btn{
        &-md{
            padding: 10px 77px;
        }
    }
}
@include mobile{
    .btn{
        &-sm{
            padding: 8px 54.5px;
        }
    }
}