.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: $space-7 88px;
    &__nav {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        &__item:nth-child(n + 2) {
            margin-left: $space-11;
        }
        &__link {
            display: block;
            position: relative;
            font-size: $font-md;
            transform: translateY(0px);
            transition: 0.3s;
            &:after {
                content: "";
                position: absolute;
                right: 50%;
                left: 50%;
                height: 0;
                bottom: -5px;
                border-bottom: 1px solid $white;
                transition: 0.5s;
            }
            &:hover {
                transform: translateY(-7px);
                &:after {
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}
@include pad {
    .navbar {
        padding-left: 39px;
        padding-right: 39px;
        &__nav {
            &__item:nth-child(n + 2) {
                margin-left: $space-9;
            }
        }
    }
}
@include mobile {
    .navbar {
        justify-content: center;
        padding: 0px;
        &__nav {
            width: 100%;
            &__item {
                margin-left: 0;
                width: 50%;
                background-color: #aa0511;
                transition: 0.5s;
                border-top: 1px solid $white;
                &:hover {
                    background-color: $primary;
                }
            }
            &__item:nth-child(n + 2) {
                margin-left: 0;
            }
            &__item:nth-child(odd) {
                //選取單數li做border-right
                border-right: 1px solid $white;
            }
            &__item:nth-child(n + 3) {
                //選取第3.4個li做border-bottom
                border-bottom: 1px solid $white;
            }
            &__link {
                padding: $space-1 0;
                &:after {
                    content: none;
                }
                &:hover {
                    transform: translateY(0px);
                }
            }
        }
    }
}

.logo {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/logo.png);
    @include hide-text;
    @include bg-cover;
    display: block;
    width: 80px;
    height: 49px;
}
@include mobile {
    .logo {
        width: 48px;
        height: 30px;
        margin: $space-2 auto;
    }
}
@include mobile {
}

.footer {
    padding-top: $space-8;
    padding-bottom: 39px;
    &__main {
        padding-bottom: $space-6;
        border-bottom: 1px solid $white;
        margin-bottom: $space-8;
        &__content {
            display: flex;
            flex-direction: column;
        }
    }
}
@include pad {
    .footer {
        padding-bottom: 21px;
        &__main {
            padding-bottom: $space-5;
            margin-bottom: $space-6;
        }
    }
}
@include mobile {
    .footer {
        padding: $space-6 0;
        &__main {
            padding-bottom: $space-6;
            margin-bottom: $space-4;
        }
    }
}

.nav {
    display: flex;
    padding-top: $space-3;
    margin-bottom: 36px;
    .nav__link {
        transition: 0.5s;
        & + .nav__link {
            margin-left: 48px;
        }
        &:hover{
            opacity: 0.5;
        }
    }
}

@include pad {
    .nav {
        margin-bottom: 18px;
        .nav--margin {
            & + .nav--margin {
                margin-left: $space-9;
            }
        }
    }
}
@include mobile {
    .nav {
        display: none;
    }
}
.method {
    &__item {
        font-size: $font-h3;
    }
    &__item:first-child {
        margin-bottom: $space-4;
    }
    &__icon {
        width: 48px;
        margin-right: $space-4;
    }
}
@include pad {
    .method {
        &__item {
            font-size: $font-md;
        }
        &__item:first-child {
            margin-bottom: $space-3;
        }
        &__icon {
            width: 24px;
            margin-right: $space-1;
        }
    }
}
@include mobile {
    .method {
        &__item {
            font-size: $font-base;
        }
        &__item:first-child {
            margin-bottom: 6px;
        }
        &__icon {
            width: 20px;
            margin-right: 4px;
        }
    }
}
.media {
    display: flex;
    &__item {
        display: block;
    }
    &__item:nth-child(n + 2) {
        //從第二個開始推擠
        margin-left: $space-8;
    }
    &__icon {
        width: 48px;
        height: 48px;
        transition: 0.3s;
        &:hover{
            opacity: 0.5;
        }
    }
}
@include pad {
    .media {
        &__item:nth-child(n + 2) {
            //從第二個開始推擠
            margin-left: $space-6;
        }
        &__icon {
            width: 24px;
            height: 24px;
        }
    }
}
.footer__notice {
    display: flex;
    justify-content: space-between;
}
@include pad{
    .footer__notice {
        flex-direction: column;
    }
}
.notice {
    &__list{
        display: flex;
        font-size: 14px;
    }
    &__item:nth-child(2) {
        margin-left: 48px;
    }
}
@include pad{
    .notice {
        &__list{
            flex-direction: column;
        }
        &__item:nth-child(2) {
            margin-left: 0px;
        }
    }
}
@include mobile {
    .notice__text {
        margin-bottom: $space-1;
        font-size: 14px;
    }
    .notice__list {
        .notice__item:first-child {
            margin-bottom: $space-1;
        }
    }
}
