@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
$font-fmaily:"Noto Sans", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;




$font-base:16px;

$font-sm:$font-base*0.875; //14px
$font-md:$font-base*1.25; //20px
$font-lg:$font-base*1.5; //24px
$font-xl:$font-base*4.5; //72px
$font-h4:$font-base*2; //32px
$font-h3:$font-base*2.25; //36px
$font-h2:$font-base*3; //48px
$font-h1:$font-base*4; //64px

//font-sm~lg
$themes-font:(
    'sm':$font-sm,
    'base':$font-base,
    'md':$font-md,
    'lg':$font-lg,
    'xl':$font-xl
);
@each $key,$value in $themes-font {
    .fz-#{$key}{
        font-size: $value;
    }
}

//h1~h4
$themes-title:(
    '1':$font-h1,
    '2':$font-h2,
    '3':$font-h3,
    '4':$font-h4
);

@each $key,$value in $themes-title {
    .h#{$key}{
        font-size: $value;
    }
}


$lh-base:16px;
$lh-sm:$lh-base*1.3125; //21px
$lh-md:$lh-base*1.875; //30px
$lh-lg:$lh-base*3; //48px
$lh-xl:$lh-base*4.5; //72px
$lh-xxl:$lh-base*6.75; //108px
// $lh-h1:72px;
// $lh-h2:72px;
// $lh-h3:72px;
// $lh-h4:72px;
// $lh-h5:72px;

$fw-no: normal;
$fw-bold:bold;
$fw-300:300;
$fw-400:400;
$fw-500:500;
$fw-700:700;
$fw-900:900;
$font-style:italic;

$themes-fw:(
    'no':$fw-no,
    'bold':$fw-bold,
    '3':$fw-300,
    '4':$fw-300,
    '5':$fw-300,
    '7':$fw-700,
    '9':$fw-300
);

@each $key,$value in $themes-fw {
    .fw-#{$key}{
        font-weight: $value;
    }
}

$primary:#650300; //深紅色 主要文字顏色
$primary-light:#AA0601; //淺紅色 背景色
$secondary:#AA06010D; //膚色
$info:#212529; // 深藍色文字
$white:#fff; // 白色文字

$themes-color:(
    'primary':$primary,
    'primary-light':$primary-light,
    'secondary':$secondary,
    'info':$info,
    'white':$white
);
//背景色
@each $key,$value in $themes-color {
    .bg-#{$key}{
        background-color: $value;
    }
}

//文字顏色
@each $key,$value in $themes-color {
    .text-#{$key}{
        color: $value;
    }
}

$space-base:16px;
$space-1:$space-base*0.5; //8px
$space-2:$space-base*0.625; //10px
$space-3:$space-base*0.75; //12px
$space-4:$space-base; //16px
$space-5:$space-base*1.25; //20px
$space-6:$space-base*1.5; //24px
$space-7:$space-base*1.875; //30px
$space-8:$space-base*2; //32px
$space-9:$space-base*2.5; //40px
$space-10:$space-base*3.5; //56px
$space-11:$space-base*4; //64px
$space-12:$space-base*5; //80px

